spring:
  profiles:
    active: development
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    generate-ddl: true
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MariaDB103Dialect

  datasource:
    username: glnt-user
    password: glnt123!@#
    driver-class-name: org.mariadb.jdbc.Driver
    jdbc-url: jdbc:mariadb://test-db.cwvvhmqatlkn.ap-northeast-2.rds.amazonaws.com:3306/glnt_parking?useSSL=false

logging:
  path: C://logs/gpms
  config: classpath:logback-development.xml
  level:
    ROOT: INFO
    io.github.jhipster: INFO
    thesis: INFO

server:
  port: 14000

image:
  filepath: C://park//save

file:
  filepath: C://park//data

tmap:
  send: "OFF"
  url: http://127.0.0.1:10000/api/v1/manage/devices/events

gateway:
  url: http://192.168.20.30:9999/v1

glnt:
  url: http://ec2-3-36-62-144.ap-northeast-2.compute.amazonaws.com:9105

adtcaps:
  url: http://ec2-3-36-62-144.ap-northeast-2.compute.amazonaws.com:9105


