<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <springProperty name="LOG_PATH" source="logging.path"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}[%-5level] : %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <file>log/gpms.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/gpms.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%-5level|%thread|%logger{36}|%method[%line]|%msg%n</pattern>
        </encoder>
    </appender>
    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
    <!-- 질의문 보기 -->
    <logger name="org.hibernate.SQL" level="INFO"/>
    <!-- 질의문 파라미터 보기 -->
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="INFO"/>
    <!-- hikari 로그 보기 -->
    <logger name="com.zaxxer.hikari" level="INFO"/>
    <!-- 트랜젝션 로그 보기 -->
    <logger name="org.hibernate.transaction.JDBCTransaction" level="INFO"/>
    <logger name="org.hibernate.jdbc.ConnectionManager" level="INFO"/>
    <logger name="org.springframework.orm.jpa.JpaTransactionManager" level="INFO"/>
</configuration>